<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>705171071553-b4nqfbk3884do17q509co9q9h52h6eso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705171071553-b4nqfbk3884do17q509co9q9h52h6eso</string>
	<key>API_KEY</key>
	<string>AIzaSyB5uuHlycGoVY5EP0we9vTn-7TAhq7xag8</string>
	<key>GCM_SENDER_ID</key>
	<string>705171071553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlvaroRuiz.Tennis</string>
	<key>PROJECT_ID</key>
	<string>tennis-63990</string>
	<key>STORAGE_BUCKET</key>
	<string>tennis-63990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705171071553:ios:f9b5bb09b18c2a87</string>
	<key>DATABASE_URL</key>
	<string>https://tennis-63990.firebaseio.com</string>
</dict>
</plist>